*.o
*.d
objs/
deps/
megaphone
phonebook
.vscode/
zombie
zombieHorde
hiBrain
stringReplacer
tests/
test.txt
*.replace
harl
harlFilter
fixed
fixedFloat
fixedAritmetic
clapTrap
scavTrap
fragTrap
diamondTrap
animal
animalBrain
noAnimal
bureaucrat
bureaucratForm
AForm
intern
*_shrubbery
scalarConverter
serializer
realType
whatever
iter
array
easyFind
span
mutantStack
btc
RPN
PmergeMe
